body {
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0
}

.envelope_icon {
    width: 17px;
    height: 12px;
    margin: 20 12
}

.telephone_icon {
    height: 17px;
    width: 17px;
    margin: 16 12
}

h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    font-family: "Courier New", monospace
}

strong {
    font-weight: 700;
}

li strong {
    font-weight: 700
}

li span {
    color: #000000;
    font-family: "DejaVu Sans Mono", monospace
}

div {
    display: flex;
    flex-direction: row
}

h1 {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 45px;
    line-height: 50px;
    font-family: "Courier New", monospace;
    color: white
}

.top_header {
    display: flex;
    margin-bottom: 95px;
    margin: 0 auto;
    width: 1040px;
    padding-top: 20px
}

.main_header {
    width: 1040px;
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 140px;
    margin: 0 auto;
    background-image: url(../img/moon-rocket.png);
    background-repeat: no-repeat;
    background-position: 520px 10px
}

.mega_header {
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column
}

.header_text {
    background-color: #222222;
    width: 300px;
    padding-left: 120px;
    display: flex;
    flex-direction: column
}

.advantages {
    background: #131313;
    padding: 85px 0
}

.sub_advantages {
    width: 1040px;
    margin: 0 auto
}

.left_advantages {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding-right: 80px
}

.center-left_advantages {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding-right: 80px
}

.center-right_advantages {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding-right: 80px
}

.right_advantages {
    width: 180px;
    display: flex;
    flex-direction: column;
    padding-right: 80px
}

.content_top {
    width: 1040px;
    margin: 0 auto
}

.content_top p {
    font-family: "DejaVu Sans Mono", monospace
}

.content_bottom {
    width: 1040px;
    margin: 0 auto
}

.sub_content_top {
    display: flex;
    flex-direction: row;
    width: 1040px;
    padding-top: 80px
}

.content_top_left_block {
    padding-right: 80px
}

.content_top_right_block {
    display: flex;
    flex-direction: column
}

.sub_content_bottom {
    width: 1040px;
    display: flex;
    flex-direction: row;
    padding-top: 80px
}

.basement {
    height: 311px;
    background-color: #131313
}

.content_bottom_left_block {
    display: flex;
    flex-direction: column;
    width: 440px
}

.content_bottom_right_block {
    display: flex;
    flex-direction: column;
    width: 440px;
    padding-left: 80px
}

.basement_left {
    margin-top: 30px;
    width: 180px;
    display: flex;
    flex-direction: column
}

.basement_right {
    display: flex;
    width: 720px;
    margin-top: 30px;
    padding-left: 80px
}

.sub_basement {
    width: 1040px;
    margin: 0 auto
}

p {
    color: #d4d4d4
}

.header_button {
    width: 210px;
    height: 45px;
    background: #FFFF00;
    cursor: pointer
}

.map_icon {
    height: 345px;
    width: 440px
}

.advantages_icon {
    width: 60px;
    height: 68px
}

.black_colour {
    color: #000000
}

.logo_icon {
    height: 60px;
    width: 60px
}

ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none
}

.content_list {
    margin-left: 15px;
    list-style: inherit
}

.basement_list_left {
    margin-top: 5px;
    color: #696969
}

.basement_sub_list_left {
    margin-top: 70px;
    color: #696969;
    list-style-type: none
}

.sub_list_color {
    color: #feca30;
    padding-bottom: 20px
}

.header_list {
    margin-left: 50px;
    list-style: none;
    word-spacing: 20px;
    width: 850px
}

li {
    color: #d4d4d4
}

.header_sublist {
    display: inline;
    word-spacing: 10px
}

.header_ref {
    text-decoration: none;
    cursor: pointer;
    color: #d4d4d4
}

.timetable {
    background: #222222;
    padding: 80px 0;
    display: flex;
    flex-direction: column
}

.timetable_schedule {
    margin: 0 auto;
    width: 1040px
}

.timetable_description {
    width: 1040px;
    margin-bottom: 55px;
    margin: 0 auto
}

.sub_timetable {
    width: 1040px;
    margin: 0 auto
}

.yellow_orange {
    color: #ffce31
}

td {
    color: #FFFFFF;
    padding-top: 25px;
    border-bottom: 1px solid #555555;
    padding-bottom: 10px;
    width: 180px
}

.tr_timetable {
    background: #000000
}

table {
    border-collapse: collapse;
    width: 100%
}

.white_color {
    color: white
}

.text_form_full {
    height: 55px;
    width: 440px;
    margin-top: 10px;
    background: #ffffff
}

.text_form_part {
    width: 217px;
    height: 55px;
    margin-top: 10px;
    background: #ffffff
}

.vacation-request_button {
    margin-top: 10px;
    width: 210px;
    height: 60px;
    background-color: #3D3533;
    color: white;
    cursor: pointer
}

.vacation-request {
    padding: 80px 0;
    background-color: #f0f0f0;
    margin: 0 auto
}

.sub_vacation-request {
    width: 1040px;
    margin: 0 auto
}

.vacation-request_left {
    width: 440px;
    margin-right: 80px;
    display: flex;
    flex-direction: column
}

.vacation-request_right {
    width: 440px
}

.basement_list {
    display: flex;
    list-style: none
}

.sub_list_basement {
    margin-right: 60px;
    width: 180px;
    margin-top: 25px
}

.sub_list_ref_basement {
    text-decoration: none;
    border-bottom: 1px solid #555555;
    margin-bottom: 50px;
    padding-bottom: 20px;
    color: white
}

.sub_list_top_padding {
    padding-top: 28px
}

.sub_sub_list_ref_basement {
    color: #888888;
    text-decoration: none
}
